*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
}
img{
    width: 100%;
    display: block;
}


/* header */
.intestazione{
    padding: 40px;
}
.main-title{
    color: #e53170;
    text-align: center;
    font-size: 5vh;
}


/* main */
.container{
    max-width: 1440px;
    margin: 0 auto;
    font-size: 2vh;
    text-align: center;
}
.main-text{
    margin-bottom: 50px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    flex-shrink: 0;
    
}
.col{
    width: calc((100% - 100px) / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row-card{
    display: flex;
    background-color: #000000;
}
.col-img{
    width: 30%;
 
}
.col-card{
    width: 70%;
    color: #ffff;
    padding: 10px;
    text-align: left;
    line-height: 35px;
    font-size: 20px;
}
.text-mail{
    color: #4bcbf2;
}
.name{
    font-size: 25px;
}







